const App = () => {
	return (
		<div
			style={{
				height: "100vh",
				width: "100vw",
				display: "flex",
				justifyContent: "center",
				alignItems: "center",
				backgroundColor: "black",
				color: "white",
				fontWeight: 600,
				fontSize: "1.5rem",
			}}
		>
			Hello Vite + React
		</div>
	);
};

export default App;
