const App = () => {
	return (
		<div
			className="d-flex flex-column bg-black text-white align-items-center justify-content-center fs-3 fw-bold text-center"
			style={{ height: "100vh", width: "100vw" }}
		>
			<img
				style={{ width: "10rem", height: "10rem" }}
				src="https://res.cloudinary.com/dltj8bim0/image/upload/v1761060580/logo_kukwt0.png"
				alt=""
			/>
			<p>Hello Vite + React + Bootstrap!</p>
		</div>
	);
};

export default App;
